In [1]:
from sqlalchemy import create_engine

In [2]:
import pymysql

In [3]:
import pandas as pd

In [4]:
# Create the sqlalchemy engine and connection
username = "root"
password = "206!!Lbs" 
# password = quote_plus("Myp@ssword!") # Use the quote function if you have special chars in password
db_name = "books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [5]:
# Load your into a DataFrame
books = pd.read_csv('C:\\Users\\benja\\Downloads\\users  - users (2).csv')

In [6]:
# SQL statement to rename the 'first name' column
sql_rename_first_name = "ALTER TABLE users CHANGE COLUMN `first name` `first_name` VARCHAR(45);"

# SQL statement to rename the 'last name' column
sql_rename_last_name = "ALTER TABLE users CHANGE COLUMN `last name` `last_name` VARCHAR(45);"

# Execute the SQL statements one by one
with conn.connect() as connection:
    connection.execute(sql_rename_first_name)
    connection.execute(sql_rename_last_name)

C:\Users\benja\AppData\Local\Temp\ipykernel_23512\690000372.py:8: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  with conn.connect() as connection:

In [7]:
# Load your into a DataFrame
books = pd.read_csv('C:\\Users\\benja\\Downloads\\books - books (2).csv')

In [8]:
# Load data into a DataFrame
books = pd.read_csv('C:\\Users\\benja\\Downloads\\authors - authors (2).csv')

In [9]:
# Load data into a DataFrame
books = pd.read_csv('C:\\Users\\benja\\Downloads\\favorites - favorites (2).csv')

In [10]:
# Replace spaces with underscores using a lambda function
books = books.rename(columns=lambda x: x.replace(' ', '_'))

In [11]:
# Define a list of table names
table_names = ['users', 'books', 'favorites', 'authors']

In [12]:
# Iterate through the table names and get the data types
for table_name in table_names:
    query = f"DESCRIBE {table_name}"
    description = pd.read_sql(query, con=engine)
    print(f"Table: {table_name}")
    print(description)
    print("\n")

Table: users
        Field         Type Null  Key Default           Extra
0          id          int   NO  PRI    None  auto_increment
1  first_name  varchar(45)  YES         None
2   last_name  varchar(45)  YES         None
3       email  varchar(45)  YES         None


Table: books
        Field         Type Null  Key Default           Extra
0          id          int   NO  PRI    None  auto_increment
1       Title  varchar(45)  YES         None
2  authors_id          int   NO  MUL    None


Table: favorites
      Field Type Null  Key Default Extra
0  books_id  int  YES  MUL    None
1  users_id  int  YES  MUL    None


Table: authors
         Field         Type Null  Key Default           Extra
0           id          int   NO  PRI    None  auto_increment
1  author_name  varchar(45)  YES         None

In [13]:
q = """SHOW TABLES;"""
pd.read_sql(q, conn)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [15]:
q = """
SELECT books.Title, favorites.users_id
FROM books
JOIN favorites ON books.id = favorites.books_id
WHERE favorites.users_id = 
    (SELECT users.id FROM users WHERE users.last_name = "Doe" AND users.first_name = "John");"""
pd.read_sql(q, conn)

Empty DataFrame
Columns: [Title, users_id]
Index: []